*.py[co]

.idea
.idea/libraries

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

.DS_store
hive_sqlite.db
feeder_sqlite.db
beekeeper_sqlite.db
server.crt
server.key

hive.cfg
feeder.cfg

*.log

#pydev
.project
.pydevproject

# exceptions for vfs files
!hive/data/vfs/*

beekeeper/beekeeper.sqlite

*.gz
