language: python
python:
- 2.7
install:
- pip install --upgrade setuptools
- pip install coveralls
- pip install cython
script:
- python setup.py test
after_success:
- coverage run --source=beeswarm setup.py -q nosetests
- coveralls
deploy:
  provider: pypi
  user: Johnny.Vestergaard
  password:
    secure: PETOFOO0E3Xmvs1MOuL65hxuoc8kTH82P57x6tWAy/QVDYqQ7X4rHvffV3ZIygB55s9yHJGWHfe+zFy5kDX+4rr3b1y0NpH8Hk2yLpXtgqsuLEfP4hqwjE8RvSGw+koRAlIqSIAHcMtK3rdLRt3AcCsglQ26iP/pRpAggodFWR0=
  on:
    repo: honeynet/beeswarm
    all_branches: true
    condition: $TRAVIS_TAG =~ ^Release_[0-9]+[.][0-9]+[.][0-9]+
