#Additional information for logging purposes
[general]
#Every feeder must have a unique id.
feeder_id = f51171df-c8f6-4af4-86c0-f4e163cf69e8

[public_ip]
fetch_ip = True

[bee_http]
server = 127.0.0.1
port = 8080
timing = regular
login = test
password = test

[bee_pop3]
server = 127.0.0.1
port = 1100
timing = regular
login = test
password = test

[bee_smtp]
server = 127.0.0.1
port = 2525
timing = regular
login = test
password = test
