# Logging
[hpfeeds]
enabled = True
host = hpfeeds.honeycloud.net
port = 10000
ident =
secret =
chan = beeswarm.hive

[syslog]
enabled = False
socket = /dev/log

#Additional information for logging purposes
[public_ip]
#Optional
public_ip =
#Get public ip by querying external webservice
fetch_public_ip = False

# Capabilities
[ftp]
enabled = True
port = 21

[telnet]
enabled = True
port = 23

[pop3]
enabled = True
port = 110

[pop3s]
enabled = True
port = 995