# Logging
[log_hpfeeds]
enabled = False
host = hpfeeds.honeycloud.net
port = 10000
ident =
secret =
chan = beeswarm.hive

[log_syslog]
enabled = False
socket = /dev/log

#Additional information for logging purposes
[public_ip]
#Optional
public_ip =
#Get public ip by querying external webservice
fetch_public_ip = False

# Capabilities
[cap_ftp]
enabled = True
port = 21

[cap_telnet]
enabled = True
port = 23

[cap_pop3]
enabled = True
port = 110

[cap_pop3s]
enabled = True
port = 995

[cap_ssh]
enabled = True
port = 22