--allow-all-external
--allow-unverified pyDes
pyzmq>=14.1.1
fs
Crypto
cssselect
nose
gevent>=1.0
requests
telnetsrv
paramiko
ntplib
pysendfile
pyDes
flask>=0.10.0
flask-login
sqlalchemy>=0.9.1
pyOpenSSL
lxml
flask-wtf>=0.9.0
mock
enum
netifaces
