--allow-unverified fs
--allow-external fs
fs
Crypto
cssselect
nose
gevent>=1.0
requests
telnetsrv
paramiko
ntplib
--allow-unverified pysendfile
--allow-external pysendfile
pysendfile
--allow-unverified pydes 
--allow-external pydes 
pyDes
flask>=0.10.0
flask-login
sqlalchemy>=0.8.1
pyOpenSSL
--allow-external hpfeeds
git+https://github.com/rep/hpfeeds.git#egg=hpfeeds-1.0.0
lxml
flask-wtf>=0.9.0
mock
