{
    "general": {
        "mode": "honeypot",
        "id": "standalone",
        "ip": "",
        "fetch_ip": true
    },
    "log_hpfeedslogger": {
        "enabled": false,
        "host": "hpfriends.honeycloud.net",
        "port": 20000,
        "ident": "2wtadBoH",
        "secret": "mJPyhNhJmLYGbDCt",
        "chan": "beeswarm.drones.honeypot",
        "port_mapping": "{}"
    },
    "log_server": {
        "enabled": false,
        "server_url": "http://127.0.0.1:5000/ws/honeypot_data"
    },
    "log_syslog": {
        "enabled": false,
        "socket": "/dev/log"
    },
    "capabilities": {
		"ftp": {
			"enabled": true,
			"port": 21,
			"max_attempts": 3,
			"banner": "Microsoft FTP Server",
			"syst_type": "WINDOWS-NT-6.1"
		},
		"telnet": {
			"enabled": true,
			"port": 23,
			"max_attempts": 3
		},
		"pop3": {
			"enabled": true,
			"port": 110,
			"max_attempts": 3
		},
		"pop3s": {
			"enabled": true,
			"port": 993,
			"max_attempts": 3
		},
		"ssh": {
			"enabled": true,
			"port": 22,
			"key": "server.key"
		},
		"http": {
			"enabled": true,
			"port": 80,
			"banner": "Microsoft-IIS/5.0"
		},
		"https": {
			"enabled": true,
			"port": 443,
			"banner": "Microsoft-IIS/5.0"
		},
		"smtp": {
			"enabled": true,
			"port": 25,
			"banner": "Microsoft ESMTP MAIL service ready"
		},
		"vnc": {
			"enabled": true,
			"port": 5900
		}
	},
	"users": {},
    "timecheck": {
        "enabled": true,
        "poll": 5,
        "ntp_pool": "pool.ntp.org"
    }
}
