[general]
#Every hive must have a unique id.
hive_id = h11141df-b2f6-baf4-86c0-f4e163cf69aa
hive_ip = 192.168.1.1
#use internet service to detect the public ip of the honeypot (this will override hive_ip)
fetch_ip = False

#This is the central logging feature of the honeynet project
#if you enable this feature you accept that your logged data will be shared
#and analyzed within the honeynet project organization.
[log_hpfeedslogger]
enabled = False
host = hpfriends.honeycloud.net
port = 20000
ident = 2wtadBoH
secret = mJPyhNhJmLYGbDCt
chan = beeswarm.hive

[log_beekeeper]
enabled = True
beekeeper_url = http://127.0.0.1:5000/ws/hive_data

[log_syslog]
enabled = False
socket = /dev/log

# Capabilities
[cap_ftp]
enabled = True
port = 21
max_attempts = 3
banner = Microsoft FTP Server

[cap_telnet]
enabled = True
port = 23
max_attempts = 3

[cap_pop3]
enabled = True
port = 110
max_attempts = 3

[cap_pop3s]
enabled = True
port = 995
max_attempts = 3

[cap_ssh]
enabled = True
port = 22
key = server.key

[cap_http]
enabled = True
port = 80
banner = Microsoft-IIS/5.0

[cap_https]
enabled = True
port = 443
banner = Microsoft-IIS/5.0

[cap_smtp]
enabled = True
banner = Microsoft ESMTP MAIL service ready
port = 25

[cap_vnc]
enabled = True
port = 5900

[timecheck]
enabled = False
poll = 5
ntp_pool = pool.ntp.org
