{	"capabilities":
	{
		"ftp": {
			"enabled": true,
			"port": 2121,
			"protocol_specific_data" : {"max_attempts": 3, "banner": "Microsoft FTP Server", "syst_type": "Windows-NT"}
		},
		"telnet": {
			"enabled": false,
			"port": 0,
			"protocol_specific_data" : {"max_attempts": 3}

		},
		"pop3": {
			"enabled": false,
			"port": 0,
			"protocol_specific_data" : {"max_attempts": 3}
		},
		"pop3s": {
			"enabled": false,
			"port": 0,
			"protocol_specific_data" : {"max_attempts": 3}
		},
		"ssh": {
			"enabled": false,
			"port": 0,
		},
		"http": {
			"enabled": false,
			"port": 0,
			"protocol_specific_data" : {"banner": "banner..."}
		},
		"https": {
			"enabled": false,
			"port": 0,
			"protocol_specific_data" : {"banner": "banner..."}
		},
		"smtp": {
			"enabled": false,
			"port": 0,
			"protocol_specific_data" : {"banner": "Microsoft ESMTP MAIL service ready"}
		},
	}
}
