<!doctype html>
<html>
{% block html %}
    <head>
        {% block head %}
            {% if title %}
                <title>{{ title }} - BeeSwarm</title>
            {% else %}
                <title>BeeSwarm</title>
            {% endif %}
            {% block meta %}
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
            {% endblock meta %}
            {% block css %}
                <link rel="stylesheet" href="/static/css/bootstrap.min.css">
                <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
                <link rel="stylesheet" href="/static/css/font-awesome.min.css">
            {% endblock css %}
            {% block javascript %}
                <script src="/static/js/jquery-1.9.1.min.js"></script>
                <script src="/static/js/bootstrap.min.js"></script>
            {% endblock javascript %}
        {% endblock head %}
    </head>

    <body>
    <div class="container">
        <h1>BeeSwarm</h1>
        <hr>
        <div class="btn-toolbar" style="margin: 0;">
            <button class="btn"><i class="icon-home"></i> Home</button>
            <div class="btn-group">
                <button class="btn"><i class="icon-plus"></i> Hive</button>
                <button class="btn"><i class="icon-plus"></i> Feeder</button>
            </div>
            <div class="btn-group">
                <button class="btn"><i class="icon-list"></i> All Sessions</button>
                <button class="btn"><i class="icon-exclamation"></i> Attacks</button>
                <button class="btn"><i class="icon-ok"></i> Feeder Sessions</button>

            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>
    </body>
    {% block footer %}
        <footer class="container text-center">
            <div class="well">©2013,
                <a href="http://www.honeynet.org/">The Honeynet Project</a>
            </div>
        </footer>
    {% endblock footer %}
{% endblock html %}
</html>