<!doctype html>
<html>
{% block html %}
    <head>
        {% block head %}
            {% if title %}
                <title>{{ title }} - BeeSwarm</title>
            {% else %}
                <title>BeeSwarm</title>
            {% endif %}
            {% block meta %}
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
            {% endblock meta %}
            {% block css %}
                <link rel="stylesheet" href="/static/css/bootstrap.min.css">
                <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
                <link rel="stylesheet" href="/static/css/font-awesome.min.css">
            {% endblock css %}
            {% block javascript %}
                <script src="/static/js/jquery-1.9.1.min.js"></script>
                <script src="/static/js/bootstrap.min.js"></script>
            {% endblock javascript %}
        {% endblock head %}
    </head>

    <body>
    {% block body %}
        <div class="container span10 offset2">
            {% block pageheading %}
                <div class="page-header">
                    <h1>BeeSwarm
                        <small>A honeytoken project</small>
                    </h1>
                </div>
            {% endblock pageheading %}
            {% block navbar %}
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li><a href="/"><i class="icon-home"></i> Home</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="#"><i class="icon-plus"></i> Hive</a></li>
                            <li><a href="#"><i class="icon-plus"></i> Feeder</a></li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-list"></i> Sessions
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Attacks</a></li>
                                    <li><a href="#">HoneyBees</a></li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                </div>
            {% endblock navbar %}
            {% block content %}{% endblock content %}
        </div>
    {% endblock body %}
    </body>
    {% block footer %}
        <footer class="container text-center span10 offset2">
            <div class="well">©2013,
                <a href="http://www.honeynet.org/">The Honeynet Project</a>
            </div>
        </footer>
    {% endblock footer %}
{% endblock html %}
</html>