{% extends "base.html" %}
{% block content %}

<h2>New Feeder Configuration:</h2>
<form action="" method="post" name='create_hive'>
    {{ form.hidden_tag() }}
        <h5>HTTP:</h5>
        Enabled: {{ form.http_enabled() }}<br>
        Server: {{ form.http_server() }}<br>
        Port: {{ form.http_port() }}<br>
        Timing: {{ form.http_timing() }}<br>
        Login: {{ form.http_login() }}<br>
        Password: {{ form.http_password() }}<br>
        <hr>

        <h5>POP3:</h5>
        Enabled: {{ form.pop3_enabled() }}<br>
        Server: {{ form.pop3_server() }}<br>
        Port: {{ form.pop3_port() }}<br>
        Timing: {{ form.pop3_timing() }}<br>
        Login: {{ form.pop3_login() }}<br>
        Password: {{ form.pop3_password() }}<br>
        <hr>

        <h5>SMTP:</h5>
        Enabled: {{ form.smtp_enabled() }}<br>
        Server: {{ form.smtp_server() }}<br>
        Port: {{ form.smtp_port() }}<br>
        Timing: {{ form.smtp_timing() }}<br>
        Login: {{ form.smtp_login() }}<br>
        Password: {{ form.smtp_password() }}<br>
        <hr>

        <h5>VNC:</h5>
        Enabled: {{ form.vnc_enabled() }}<br>
        Server: {{ form.vnc_server() }}<br>
        Port: {{ form.vnc_port() }}<br>
        Timing: {{ form.vnc_timing() }}<br>
        Login: {{ form.vnc_login() }}<br>
        Password: {{ form.vnc_password() }}<br>
        <hr>

        <h5>Telnet:</h5>
        Enabled: {{ form.telnet_enabled() }}<br>
        Server: {{ form.telnet_server() }}<br>
        Port: {{ form.telnet_port() }}<br>
        Timing: {{ form.telnet_timing() }}<br>
        Login: {{ form.telnet_login() }}<br>
        Password: {{ form.telnet_password() }}<br>
        <hr>

        <input type="submit" value="Generate!">
</form>

{% endblock %}