{% extends "base.html" %}
{% block css %}
{{ super() }}
    <link rel="stylesheet" href="/static/css/watable.css">
{% endblock css %}
{% block javascript %}
    {{ super() }}
    <script src="/static/js/jquery.watable.js"></script>
{% endblock javascript %}
{% block content %}
    <h3>All Sessions: </h3>
    <div id="logtable" class="cont"></div>
    <script type="text/javascript">
        $('#logtable').WATable(
                {
                    url: '/test', //I added a new route which just echoes sample data for the table, in JSON format.
                    preFill: true
                });
    </script>
{% endblock content %}