{
    "general": {
    	"mode": "server"
    },
    "sql": {
        "connection_string": "sqlite:///beeswarm_sqlite.db"
    },
    "ssl": {
        "certpath": "server.crt",
        "keypath": "server.key"
    },
    "bait_session_retain": 2,
    "malicious_session_retain": 100,
    "ignore_failed_bait_session": true,
    "iso": {
        "path": "beeswarm_client.iso",
        "offset": -1
    },
    "network": {
        "port": 5000,
        "host": "127.0.0.1"
    }

}
